<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Club Name:</strong>
  <%= @member.club.name %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @member.workout.title %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
